<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.booksMapper">



    <resultMap id="tbl_books" type="books">
        <association property="book" javaType="book">
            <id property="id" column="id"/>
            <result property="name" column="name" />
        </association>
    </resultMap>

    <select id="select" resultMap="tbl_books">
        select * from tbl_books
            left join tbl_book
            on tbl_book.id=tbl_books.id
        where tbl_books.id=#{id}
    </select>

<!--    集合查询-->
    <select id="selectPage" resultType="mybatis.books">
        select * from tbl_books
    </select>
</mapper>