<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.booksMapper">



<!--    <resultMap id="tbl_books" type="books">-->
<!--&lt;!&ndash;        <association property="book" javaType="book">&ndash;&gt;-->
<!--&lt;!&ndash;            <id property="id" column="id"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <result property="name" column="name" />&ndash;&gt;-->
<!--&lt;!&ndash;        </association>&ndash;&gt;-->
<!--    </resultMap>-->

<!--    <select id="select" resultMap="tbl_books">-->
<!--        select * from tbl_books-->
<!--            left join tbl_book-->
<!--            on tbl_book.id=tbl_books.id-->
<!--        where tbl_books.id=#{id}-->
<!--    </select>-->

<!--&lt;!&ndash;    集合查询&ndash;&gt;-->
<!--    <select id="selectPage" resultType="pojo.books">-->
<!--        select * from tbl_books-->
<!--    </select>-->

</mapper>